<div class="container vh-100">
  <div class="d-flex flex-column align-items-center">
    <div>
      capture image spike
    </div>
    <div class="p-1">
      <video #video class="vid" autoplay></video>
    </div>
    <div class="pb-2">
      <button class="btn btn-primary mr-1" (click)="capture()">
        Capture Image
      </button>
      <button class="btn btn-secondary" (click)="clean()">Clean Image</button>
    </div>
    <div class="p-1">
      <canvas #canvas class="vid"></canvas>
    </div>
  </div>
</div>
